:root {
    --afftra-primary-color: #2563eb; /* Primary Color */
    --afftra-primary-hover-color: #1e4bbf; /* Primary Hover Color */
    --afftra-secondary-color: #f8f9fa; /* Secondary Color */
    --afftra-secondary-text-color: #6c757d; /* Secondary Text Color */
    --afftra-text-color: #333; /* Text Color */
    --afftra-heading-color: #333; /* Heading Color */
    --afftra-link-color: #2563eb; /* Link Color */
    --afftra-link-hover-color: #2563eb; /* Link Hover Color */
    --afftra-button-color: #2563eb; /* Button Color */
    --afftra-white-color: #ffffff; /* White Color */
    --afftra-black-color: #000000; /* Black Color */
    --afftra-primary-border-color: #2563eb; /* Border Color */
    --afftra-secondary-border-color: #d4d4d4; /* Border Color */
    --afftra-star-color: #f69931; /* Star Color */
    --afftra-transition-time: 0.3s; /* Transition Time */
    --afftra-heading-one-font-size: 42px; /* Heading One Font Size */
    --afftra-heading-two-font-size: 36px; /* Heading Two Font Size */
    --afftra-heading-three-font-size: 28px; /* Heading Three Font Size */
    --afftra-heading-four-font-size: 24px; /* Heading Four Font Size */
    --afftra-heading-five-font-size: 18px; /* Heading Five Font Size */
    --afftra-heading-six-font-size: 16px; /* Heading Six Font Size */
    --afftra-body-font-size: 16px; /* Body Font Size */
    --afftra-positive-color: #00bf08; /* Positive Color */
    --afftra-negative-color: #ff0c0c; /* Negative Color */
    --afftra-box-shadow: -7px 0px 0px rgba(186, 184, 184, 0.5) /* Box Shadow */;
}
