@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background: #fff;
    font-family: 'Inter', sans-serif;
}

div#wpcontent {
    padding: 0;
}

div#afftra-dashboard {
    min-height: 100vh;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

.header {
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.logo-title {
    font-size: 18px;
    font-weight: 400;
}

.version {
    border: none;
    background: #1967ff;
    color: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    font-size: 15px;
}

.welcome-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 50px;
}

.welcome-text {
    max-width: 45%;
}

h2.welcome-title {
    font-size: 2em;
    margin: 0 0 20px;
}

p.welcome-desc,
.box-desc {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #475569;
    margin: 0 0 15px;
}

.welcome-box {
    width: 300px;
    background: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
}

h3.box-title {
    margin: 0 0 15px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 300;
    text-transform: lowercase;
}

a.share-idea-btn {
    font-size: 1rem;
    background: #1967ff;
    color: #fff;
    padding: 0.8rem 1.8rem;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    transition: 0.3s;
}

a.share-idea-btn:hover {
    background: #114fc7;
}

.content-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.video-area {
    width: 70%;
}

.video-area iframe {
    width: 100%;
    height: 450px;
}

.plugin-info {
    max-width: 350px;
}

.afftra-card {
    background: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e2e8f0;
    margin-bottom: 15px;
    border-radius: 5px;
}

h4.card-title {
    font-size: 1rem;
    margin: 0 0 15px;
}

p.card-desc {
    margin: 0 0 15px;
    font-size: 1rem;
    color: #475569;
}

a.card-btn {
    font-size: 14px;
    font-weight: 600;
    text-underline-offset: 5px;
    color: #1967ff;
}
